<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">DNA is a <span id="js-rotating">Various, Creative, Independent</span> Team.</h4>
  </div>
  <div class="user-content">
    <h3 style="color:rgb(29, 85, 73)">WHAT IS DNA?</h3>
    <p>
      DNA means that each person is not the same person, but it's the space to find and plan what they want, to achieve their goals, and to deliver information to the next generation.
    </p>
    <p>
      <h3 style="color:rgb(29, 85, 73)">RULES</h3>
      <ul>
        <li>No discrimination in age, sex and academic background</li>
        <li>Study on various domains</li>
        <li>Various information sharing and feedback</li>
      </ul>
    </p>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/gI8jshT0sCyZE3" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
    <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/JaehyukHeo/testest-165707862" title="Testest" target="_blank">Testest</a> </strong> from <strong><a href="https://www.slideshare.net/JaehyukHeo" target="_blank">Jaehyuk Heo</a></strong> </div>
  </div>
</div>