.hero {
    text-align: center;
    font-size: 0.75rem;
    img {
      max-width: 100%;
      height: auto;
      display: inline;
      margin-top: -1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }