{% include header.html %}

<div class="container">
  {{ content }}
</div>

<script data-ad-client="ca-pub-8048259725688477" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div align='center'>
  <i><strong>광고의 모든 수익금은 활동비로 지원됩니다.</strong></i>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- 페이지 하단 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8048259725688477"
       data-ad-slot="3418114413"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% include footer.html %}